.Row{
  display: inline-flex;
  padding: 1%;
  justify-content: center;
  background-color:#282c34;
  min-height: 10vh;
  border: 1px solid #6c757d;
  width: 99%;
}

.Row-left{
  text-align: left;
  width: 100%;
}

.Row-right{
  text-align: right;
  width: 50%;
}

.Row-h2{
  color: #0969da;
  font-size: 20px;
}

.Row-repo{
  color: #6a6756;
  margin: 0.5%;
}

.active-btn {
  color: #0969da;
}

.row-built-by-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.mrg-2{
  margin: 2%;
}

.text-font{
  color: #6a737d;
}

.heart{
  color: red;
}

.dev-left{
  text-align: left;
  width: 35%;
}

.dev-middle{
  text-align: left;
  width: 35%;
}

.dev-right{
  text-align: right;
  width: 30%;
}

.mrg-l-4{
  margin-left: 4%;
}

.mrg-l-19{
  margin-left: 19%;
}

.mrg-r-2{
  margin-right: 2%;
}

.mrg-r-10{
  margin-right: 10%;
}

.mrg-l-2{
  margin-left: 2%;
}

.repo-badge{
  color: #d78a23;
}

.button-group{
  align-items: flex-start;
}
